.header h1 {
    Font-Family: 'Cormorant Garamond', Serif;
    Font-Size: 45px;
    text-align: center; 
    color: rgb(230, 230, 230); 
    background-color: purple; 
    margin: 0; 
    padding: 20px 0; 
}

.header nav {
    Font-Family: 'Cormorant Garamond', Serif;
    Font-Size: 25px;
    display: flex; 
    justify-content: space-around; 
    background-color: rgb(194, 60, 194);
    padding: 10px 0; 

}

.header .NavLink {
color: rgb(230, 230, 230);  
text-decoration: none;
}

.header .NavLink:hover {
text-decoration: underline; 

}