.viewcart {
    right: 10px; 
    bottom: 70px; 
    position: fixed; 
    height: 26px; 
    width: 107px; 
    z-index: 1; 
  
}

.viewcart form {
    right: 18px; 
    bottom: 2px; 
    position: fixed;    
}

.viewcart .basket {
    padding-left: 30px;
    padding-bottom: 10px;  

}

@media only screen and (min-width: 420px) {
    .viewcart {
        right: 20px; 
        bottom: 80px; 
      
    }

}

@media only screen and (min-width: 1030px) {
    .viewcart {
        right: 30px; 
        bottom: 80px; 
      
    }

}